.page-container {
    height:100vh;
    padding: 10px;
    color: black;
    background-color: gray;
    background-image: url(".idea/images/background.jpg");
    background-size: cover;

    display: grid;

    grid-template-areas:
    "a1 a1 a1 a1 a1 a1 a1"
    ". . a2 a2 a2 . ."
    "a6 a6 a6 a6 a6 a6 a6";

    grid-gap: 10px;
    grid-template-rows: 50px auto 50px;
}

.header {
    background-color: lightgray;
    grid-area: a1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif, Arial;
}

.form-container {
    background-color: lightseagreen;
    opacity: 0.9;
    grid-area: a2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    animation-name: changeColor;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeColor {
    0%{ background-color: lightgray}
    25%{ background-color: violet}
    50%{ background-color: darkmagenta}
    100%{ background-color: deepskyblue}
}

label {
    font-family: sans-serif, Arial;
    font-size: 13px;
}

.form-input-name, .form-input-email,
.form-input-password, .form-input-repeat-password {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border-color: lightgray;
    margin: 5px;
}

.submit-button {
    margin-top: 20px;
    background: ghostwhite;
    transition-property: background-color;
    transition-duration: 1s;
}

.submit-button:hover {
    background-color: palevioletred;
}

.footer {
    background-color: lightgray;
    grid-area: a6;
    border-radius: 10px;
}
